# Flask server IP and Port
FLASK_SERVER_IP=127.0.0.1
FLASK_SERVER_PORT=7005

# Number of threads for typosquatting analysis
NUM_THREADS=10

# Redis connection details for main cache
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

# Redis connection details for user info
REDIS_USER_HOST=localhost
REDIS_USER_PORT=6379
REDIS_USER_DB=1

# Redis connection details for warning lists
REDIS_WARNING_LIST_HOST=localhost
REDIS_WARNING_LIST_PORT=6379
REDIS_WARNING_LIST_DB=2

# Cache expiration times in seconds
CACHE_EXPIRE=86400
CACHE_EXPIRE_SESSION=3600
